<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659614678651-7e8mufdh731ue9malq1ok1cae3hdks1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659614678651-7e8mufdh731ue9malq1ok1cae3hdks1d</string>
	<key>API_KEY</key>
	<string>AIzaSyDiu4jP5Bh5JEnO7AtJyMTLTS56hgBKHqY</string>
	<key>GCM_SENDER_ID</key>
	<string>659614678651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sisac.app</string>
	<key>PROJECT_ID</key>
	<string>sisac-b578f</string>
	<key>STORAGE_BUCKET</key>
	<string>sisac-b578f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659614678651:ios:cb2a6ef7b889a19e432cde</string>
</dict>
</plist>